# How to Enable and Disable Whitelist Verification?

You can find the settings using the following path:\
**Manage -> Team Security -> Whitelist Verification**

<figure><img src="../../../.gitbook/assets/img_v3_0215i_49f87383-ec03-44d6-bf4c-818e1ca836hu.jpg" alt=""><figcaption></figcaption></figure>
