# How to Enable and Disable Address Book Verification?

You can find the settings using the following path:\
**Management -> Address Book -> Security Settings -> Address Book Verification**

<figure><img src="../../.gitbook/assets/image (344).png" alt=""><figcaption></figcaption></figure>
